<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&display=swap"
		rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<title>CarbonFree - Login</title>
</head>

<body>
	<div class="login">
		<div class="login-info col-lg-4 col-10">
			<img src="../img/logo.png" alt="Logo CarbonFree" />
			<p>
				Sabemos da urgência em agir para limitar as emissões globais de
				carbono. E acreditamos que se formos sozinhos, chegaremos mais rápido,
				mas se queremos ir mais longe é necessário irmos juntos! Acreditar que
				transformar é possível é o primeiro passo para plantar um futuro mais
				justo e sustentável para todas as pessoas. Proteger a biodiversidade é
				um compromisso vitalício que precisamos ter, seja como empresa,
				instituição ou pessoa.
			</p>
		</div>
		<div class="col-lg-4 col-10">
			<form action='/auth/login' method='POST' class="login-box">
				<div class="titulo">
					<h4>Login</h4>
				</div>
				<div class="email">
					<label for="email">E-mail</label>
					<input type="email" name="email" id="email" />
				</div>
				<div class="senha">
					<label for="Senha">Senha</label>
					<input type="password" name="senha" id="senha" min="8" max="20" />
				</div>
				<div class="login-button-container">
					<button class="btn" type="submit">Entrar</button>
					<p class=" link-cadastro">
						Não tem uma conta? <a href="/cadastro">Cadastre-se</a>
					</p>
				</div>
			</form>
			{{#if mensagem}}
			<h6 class="alert alert-secondary mt-4">{{mensagem}}</h6>
			{{/if}}
		</div>
	</div>
</body>

</html>