<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/sugestoes.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&display=swap"
		rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<title>CarbonFree - Sugestão de atividades</title>
</head>

<body class="background-image">
	<!-- Navegação -->
	<nav class="navbar navbar-light">
		<div class="container-fluid">
			<img class="carbon-logo" src="../img//logo.png" alt="" />
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
				aria-controls="offcanvasNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
				aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasNavbarLabel">
						CarbonFree
					</h5>
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
						aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/perfil">Perfil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/calculo">Cálculo consumo</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/historico">Meus históricos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/auth/logout">Sair</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="main">
		<div class="grid">
			<div>
				<div class="nav nav-tabs" id="nav-tab" role="tablist"></div>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active card transparency-white" id="nav-home" role="tabpanel"
						aria-labelledby="nav-home-tab">
						<form class="card-body">
							<div class="mb-3">
								<h5>
									A seguir separamos algumas ações diárias para compensar sua pegada de carbono na
									atmosfera,
									são atitudes muito simples que farão grande diferença.
								</h5>
							</div>
							<div class="mb-3">
								<h4>1 - Recicle seu lixo</h4>
								<h6>
									Além de evitar a contaminação do solo e lençois freáticos
									com o descarte de residuos, a reciclagem reduz a necessidade
									da produção de novos materíais, evitando que mais CO² seja
									gerado.
								</h6>
							</div>
							<div class="mb-3">
								<h4>2 - Consumo Local</h4>
								<h6>
									Consuma produto locais para diminuir a necessidade de
									transporte e mais queima de combustivel fósseis.
								</h6>
							</div>
							<div class="mb-3">
								<h4>3 - Repense o deslocamento</h4>
								<h6>
									Se você utiliza carro, troque por bike, utilize o transporte
									público ou a carona solidaria.
								</h6>
							</div>
							<div class="mb-3">
								<h4>4 - Faça a revisão do seu carro</h4>
								<h6>
									Um carro ajusatado anda melhor, gasta menos combustivel e
									emite menos CO².
								</h6>
							</div>
							<div class="mb-3">
								<h4>5 - Diminua o consumo de carne</h4>
								<h6>
									A agropecuária é um dos principais responsáveis pela emissão
									de CO² e de outros gases do efeito estufa.
								</h6>
							</div>
							<div class="mb-3">
								<h4>6 - Economize a energia</h4>
								<h6>
									Evite deixar a luz acesa nos ambientes que não estão sendo
									utilizados e durante o dia, prefira a luz solar. Tire da
									tomada, os aparelhos que não são utilizados diariamente.
								</h6>
							</div>
							<div class="mb-3">
								<h4>7 - Eficiência energética</h4>
								<h6>
									Prefira eletrodomésticos que apresentem a etiqueta de
									eficiência no uso de energia.
								</h6>
							</div>
							<div class="mb-3">
								<h4>8 - Utilize ecobags</h4>
								<h6>
									Leve a sua sacola reutilizável na hora de realizar as
									compras, evitando o uso de sacolas plásticas.
								</h6>
							</div>
							<div class="mb-3">
								<h4>
									9 - Prefira empresas que se preocupam com o meio ambiente
								</h4>
								<h6>
									Pesquise as ações de sustentabilidade das empresas antes de
									consumir, incentivar empresas que se preocupam com a causa
									ambiental é muito importante.
								</h6>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div>
				<div class="nav nav-tabs" id="nav-tab" role="tablist"></div>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active card transparency-white" id="nav-home" role="tabpanel"
						aria-labelledby="nav-home-tab">
						<form class="card-body">
							<div class="mb-3">
								<h4>10 - Seque ao ar livre</h4>
								<h6>
									Evitar usar a secadora e usar o varal pois isso chega a emitir menos 3 kg de gases
									por lavagem.
								</h6>
							</div>
							<div class="mb-3">
								<h4>11 - Plante</h4>
								<h6>
									Cultive plantas e vegetações, seja dentro de casa ou no próprio quintal. Assim,
									estará contribuindo para a manutenção da flora e a redução do aquecimento global.
								</h6>
							</div>
							<div class="mb-3">
								<h4>12 - Uso consciente do papel</h4>
								<h6>
									Minimize a utilização de papel, e quando for necessário, de preferência ao uso de
									papel reciclado.
								</h6>
							</div>
							<div class="mb-3">
								<h4>13 - Repense seu banho</h4>
								<h6>
									Utilize chuveiros aquecidos a gás, eles emitem até 4 vezes menos gás carbônico do
									que os chuveiros elétricos.
								</h6>
							</div>
							<div class="mb-3">
								<h4>14 - Exercite-se</h4>
								<h6>
									Ande a pé trechos de menor distância.
								</h6>
							</div>
							<div class="mb-3">
								<h4>15 - Vamos pedalar?</h4>
								<h6>
									Utilize sua bicicleta para ir ao trabalho ou em outros lugares.
								</h6>
							</div>
							<div class="mb-3">
								<h4>16 - Compartilhar é legal</h4>
								<h6>
									Vá de carona para o trabalho ou em outros lugares.
								</h6>
							</div>
							<div class="mb-3">
								<h4>17 - Casa energeticamente correta</h4>
								<h6>
									Troque as lâmpadas da sua casa por modelos led, elas consomem menos
									energia e consequentemente vão soltar menos dióxido de carbono.
								</h6>
							</div>
							<div class="mb-3">
								<h4>18 - Pneus ecológicos</h4>
								<h6>
									Invista em pneus verdes, pois eles são fabricados com um material que minimiza a
									emissão de poluentes.
								</h6>
							</div>
							<div class="mb-3">
								<h4>
									19 - Reduza o desperdício e perda de alimentos
								</h4>
								<h6>
									Todo o processo de produção, transporte e de preparo dos alimentos emite uma
									quantidade grande CO²na atmosfera, desperdiçar ou jogar alimentos no lixo faz com
									que esse CO² tenha sido gerado sem necessidade.
								</h6>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>