body {
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    background: url('../img/perguntas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-data {
    background-color: white;
}

th,
td {
    text-align: center !important;
    vertical-align: middle !important;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.9) !important;
}
