body {
    min-height: 100vh;
    background: url('../img/historico.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.9) !important;
}
